ELEVENLABS_API_KEY=
ELEVENLABS_AGENT_ID=agent_2801kpj49tj1f43sr840cvy17zcc
ELEVENLABS_BRANCH_ID=agtbrch_9701kpj49vbdepjr8szvwc6w7e6b
ELEVENLABS_ENVIRONMENT=production
DEMO_ACCESS_TOKEN=
NEXT_PUBLIC_APP_NAME=AI Roleplay
NEXT_PUBLIC_DEFAULT_SCENARIO_ID=adecco-orb
